<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>HOME PAGE</title>
</head>
<body>
    <h1>WELCOME TO MINDBEND CAMPUS AMBASSADOR PAGE</h1>
    <p>LOGIN if not logged in  </p>
    <a href="/login">LOGIN</a>

    </br>

    <p>Go to profile if already logged in</p>
    <a href="/profile" >PROFILE</a>
</body>
</html>