<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>PROFILE</title>
</head>
<body>

    <a class="sign_out" href="/logout">SIGNOUT</a>
    <div class="user_details">
        <img class="profile_img" src="<%= user.picture %>" alt="">
        <h1>Hi, <%= user.name %></h1>
    </div>
   
<div class="code_details">
    <p class="info"> Your are now a Campus Ambassador for Mindbend 2022  </p>
    <p> Your Referral Code is :  </p>
    <h2 class="referral_code"><%=user.referralCode %></h2>
</div>
    
</body>
</html>